body{
	background: url('image.jpg') black;
	background-size: cover;
}

/* Ripple effect */
.ripple {
	position: relative;
	background: transparent radial-gradient(circle,
		transparent 1%,
		rgba(255,255,255,.5) 10%,
		transparent 1%) center;
	background-size: 2000%;
  background-position: center;
	transition: background 1s, opacity 1s;
	font-size: 1em;
	opacity: .75;
	color: #fff;
}
.ripple:hover{
	opacity: 1;
}
.ripple:active {
  background-size: 0;
	transition: 0s;
	opacity: .25;
}


.big{
	font-size: 2em;
}

.red{
	color: red;
}

.shadow{
	text-shadow: 2px 2px 2px black;
}

/* Button style */
button {
  border: .1mm solid;
	padding: 1em;
}
